<!DOCTYPE HTML>
<html>
    <head>
    <meta charset= "UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width = device-width, initial-scale = 1">
    {% load static %}
        <link rel="shortcut icon" type="image/png" href="{%  static 'favicon.ico' %}"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


  <script src="http://s.codepen.io/assets/libs/modernizr.js" type="text/javascript"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

  <!-- custom styles -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"  media="all"/>

      <title>Shopping Cart</title>
    </head>

<body>
  <!--header-->
<div class="page">
  <div class="header">
    <ul class="hello">
    <li> <a href="#"><h3>&nbsp;&nbsp;&nbsp;Logout<h3></a></li>
    <li> <h3>Hello, Mr {{user.client_name}}</h3></li>

    </ul>
  </div>


  <div class="biggerHeader">
    <a href="https://engineering.purdue.edu/pharmorderingsys/home.html"><img src="{% static 'img/pharmLogo.png' %}" width="200" height="100"></a>
    <h1>Pharmacy Ordering System</h1>
  </div>
  <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    <!--  <a class="navbar-brand" href="#">Pharmacy Ordering System</a> -->
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
         <li><a href="{% url 'client:home' %}">Introduction Page</a></li>
          <li><a href="{% url 'client:product_search' %}">Product Search</a></li>
        <li><a href="{% url 'client:test_order' %}">New Order Page</a></li>
          <li class="active"><a href="{% url 'client:shopping_cart' %}">Shopping Cart</a></li>
          <li><a href="{% url 'client:recent_order' %}"> Recent Order Status</a></li>
         <li><a href="{% url 'client:completed_order' %}">Completed Order</a></li>
      <!--  <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>-->
      </ul>
    </div>
  </div>
</nav>
<!-- End Header -->
<!--Page Content-->
<div class="welcome">
<h1>Confirm Orders</h1>
</div>

    <div align="center">

    <form action="#" method="get">
 <input type="submit" class="btn" value="Confirm to Submit Orders" name="mybtn">
</form>
        <p></p>
        <p></p>
    <p>You have <span style="color:darkolivegreen;font-weight:bold">{{orderNum}}</span> orders to be submitted</p>
        </div>
    {% for drugList,order,drug_num,order_number in saveList %}
<div id="panel" align="center">
<div class="panel panel-default col-sm-8 col-md-8 col-lg-8">
  <div class="panel-heading">Order Number: {{order_number}}
      <form action="#" method="get">
          <input type="submit" class="btn" value="Delete This Order" name="{{order_number}}">
  <!--<button name="testing" data-pk="{{order.pk}}" class="btn btn-default btn-sm btnremove">-->
            <!--<i class="glyphicon glyphicon-remove"></i>-->
  <!--</button>-->
          </form>
  </div>
  <div class="panel-body">
    <p>There are <span style="color:darkolivegreen;font-weight:bold">{{drug_num}}</span> kind of drugs in this order</p>
     <p></p>
        <div class="order-status-title">
            <p>The order is on <span style="color:darkolivegreen;font-weight:bold">{{order.date_time}}</span></p>
        </div>
          <table class="table">
            <tr>
                <th>Product Name</th>
                <th>Product Brand</th>
                <th>Quantity</th>
                <th>Strength</th>
              </tr>
               {% for drug in drugList %}
              <tr>
                <td>{{drug.drug_name}}</td>
                <td>{{drug.drug_brand}}</td>
                <td>{{drug.quantity}}</td>
                  <td>{{drug.strength}}</td>
              </tr>
              {% endfor %}
              <!--<tr class="viewAll">-->
                  <!--<td>&nbsp; </td>-->
                <!--<a href=""><td>view all</td></a>-->
                <!--<td>&nbsp; </td>-->
              <!--</tr>-->
          </table>
          <p></p>
       </div>
</div>
</div>
    {% endfor %}



<!-- footer-->
<div class="panel panel-default">
  <div class="panel-body">

  </div>
  <div class="panel-footer col-sm-12 col-md-12 col-lg-12">
    <!-- links at the bottom of the page that redirect users who are lost -->
    <p> <a href="https://www.purdue.edu/rx/">Purdue University Retail Pharmacy</a> |
   <a href="http://www.purdue.edu/"> Purdue University </a> |
  <a href="https://www.pharmacy.purdue.edu/"> Purdue University College of Pharmacy </a> </p>
  </div></div>
</div>
</body>
</div>
</html>